{
	"extends": "standard",
	"rules": {
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"no-tabs": ["off"],
		"no-trailing-spaces": ["off"]
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"codeFrame": true
	}
}
